<h1>New Recipe</h1>
<%= form_for @recipe do |f| %>
  Recipe Title: <%= f.text_field :title %>
  <br>
  <%= f.fields_for :ingredients do |ingredient| %>
  Ingredient <%= ingredient.label :name %>:
  <%= ingredient.text_field :name %>
  <br>
  Ingredient <%= ingredient.label :quantity %>:
  <%= ingredient.text_field :quantity %><br>
  <% end %>
  <%= f.submit %>
<% end %>
