<%= form_for recipe do |f| %>
  Title: <%= f.text_field :title %>
  <hr>
  <h4>Ingredients</h4>
  <%= f.fields_for :ingredients do |ing| %>
    Name: <%= ing.text_field :name %><br>
    Quantity: <%= ing.text_field :quantity %><br>
  <% end %>
  <hr>
  <%= f.submit %>
<% end %>
